Repository lab-brussels-1/loruki-group-1, pull requests merged in 2022-04, with the labels that each got.

#61 Readmeproject- update
  README.md
Labels: planning, md

#62 Zerubabel footer code
  index.html
  styles/something.css
  styles/utilities.css
Labels: new branch, html, CSS

#63 Loruki clicloud Home page
  index.html
  styles/something.css
  styles/utilities.css
Labels: html, CSS, Home page

#64 add some text
  planning/development-strategy.md
Labels: planning, development

#66 add hover in style css languages
  styles/something.css
Labels: CSS, Home page

#68 Added user stories ans some styling
  planning/README.md
  planning/development-strategy.md
Labels: planning, development strategy

#73 Updated my availability for week-2
  planning/communication-plan.md
Labels: planning, Communication

#74 Update communication-plan.md
  planning/communication-plan.md
Labels: planning, Communication

#75 Maria Main text in sub-header
  features.html
  styles/something.css
Labels: html, CSS, Feature Page

#76 Carsiti update communication
  planning/communication-plan.md
Labels: planning, Communication

#84 Feature footer and edited feature CSS
  features.html
  index.html
  styles/something.css
Labels: html, CSS, week2

#85 Docs footer
  doc.html
  features.html
  index.html
  styles/something.css
Labels: html, CSS, development, week2

#82 Zerubabel Docs Main code
  styles/something.css
  styles/utilities.css
Labels: new branch, html, CSS, Docs page

#86 Update docs.html
  doc.html
Labels: new branch, html, CSS

#88 zerubabel add retrospective
  planning/retrospective.md
Labels: new branch, planning

#89 Maria contact us page
  images/team.png
  images/team/MMikhailova.png
  images/team/minjupgeorge.png
  index.html
  styles/something.css
  styles/utilities.css
  team.html
Labels: html, CSS, Team page

#93 Maria Team page update
  images/team/carsiti.png
  styles/something.css
  team.html
Labels: html, CSS, Team page

#99 Zerubabel team code
  images/team/zerubabel.jpeg
  team.html
Labels: new branch, html, CSS

#100 introduction Update doc.html
  doc.html
Labels: new branch, html, CSS, Docs page

#101 Grouplogo edited to view clearly in the devices
  contactus.html
  doc.html
  features.html
  index.html
  team.html
Labels: html, CSS
