Repository lab-brussels-1/loruki-group-1, pull requests merged in 2022-03, with the labels that each got.

#2 PR1:Project structure
  _config.yml
  docs/_config.yml
  docs/index.md
  package-lock.json
  planning/README.md
  planning/backlog.md
  planning/communication-plan.md
  planning/constraints.md
  planning/design.md
  planning/development-strategy.md
  planning/retrospective.md
  planning/user-personas.md
Labels: new branch, planning

#6 Put my availability into Communication plan
  planning/communication-plan.md
Labels: planning, Communication

#9 Update communication-plan.md
  planning/communication-plan.md
Labels: planning, Communication

#11 Maria's user persona
  planning/user-personas.md
Labels: planning, user persona

#28 Maria design
  planning/design.md
  public/Wireframe.png
Labels: planning, Design

#31 Minjucommunication update
  planning/communication-plan.md
Labels: planning, Communication

#40 Maria updateddesign
  public/Wireframe.png
Labels: planning, Design

#42 Update communication
  planning/backlog.md
  planning/communication-plan.md
Labels: Communication

#26 update-communication
  planning/communication-plan.md
Labels: Communication

#29 Communicationnew
  planning/backlog.md
  planning/communication-plan.md
Labels: Communication

#41 Maria backlog
  planning/backlog.md
Labels: planning, backlog

#45 Minju backlog
  planning/backlog.md
  planning/communication-plan.md
Labels: planning, backlog

#43 Zerubabel picture
  images/cli.png
  images/cloud.png
  images/docs.png
  images/favicon.png
  images/logos/clojure.png
  images/logos/csharp.png
  images/logos/go.png
  images/logos/node.png
  images/logos/php.png
  images/logos/python.png
  images/logos/ruby.png
  images/logos/scala.png
  images/npm.png
  images/server.png
  images/server2.png
Labels: new branch

#47 Updated backlog
  planning/backlog.md
Labels: planning, backlog

#48 Update development-strategy.md
  planning/development-strategy.md
Labels: planning, md

#51 Maria showcase
  index.html
  styles/something.css
Labels: html, CSS, Home page

#53 Zerubabel header code
  index.html
  package-lock.json
  package.json
  styles/something.css
Labels: html, CSS

#56 Carsiti html languages
  .vscode/extensions.json
  index.html
Labels: html, md, Home page

#55 Retrospective file for loruki
  planning/retrospective.md
Labels: planning, md

#59 Maria_main text
  index.html
  styles/something.css
  styles/utilities.css
Labels: html, CSS, Home page
